
/* This is the CSS for the Body section */
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: royalblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


#nav {
    clear: both;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: center;
    font-size: 25px;
    word-spacing: 50px;
    position: sticky;
    top: 0;
}
#nav .selected {
    color: black;
}

#store {
    margin: auto;
}
#searchbar {
    float: top;
    text-align: center;
}
#results {
    float: bottom;
    padding: 5px;
}
#results table {
    text-align: center;
}

#results td {
    border: 1px solid black;
    padding: 5px;
}
#results th {
    border: 1px solid black;
    padding: 5px;
}

#filter {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: center;
}